<DOCTYPE html>
    <html lang="pt_br">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>VIP Barber|Controle de barbearia </title>
        <link rel="shortcut icon" href="/public/assets/barber-img.svg" type="image/x-icon">


        <link rel="stylesheet" href="styles/main.css">
        <link rel="stylesheet" href="styles/partials/page-landing.css">

        <link
            href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap"
            rel="stylesheet">

    </head>

    <body id="page-landing">

        <div id="container">
            <div class="logo-container">
                <img src="/assets/logo.svg" alt="Logo VIP barber">
                <h2>VIP | Procurando seu estilo</h2>
            </div>

            <img class="barber-img " src="assets/barber-img.svg" alt="barber img">

            <div class="buttons-container">
                <a class="agendar" href="/agendar">
                    Agendar
                </a>
                <a class="encontrar" href="/cadastro">
                    Cadastro
                </a>
            </div>
    </body>

    </html>