
#page-search #container {
    width: 100vw;
    height: 100vh
}

#search {
    margin-top: 3.2rem;
}


#search label {
    color: white;
}

#search .select-block {
    margin-bottom: 1.6rem
}


#search button {
    width: 100%;
    height: 5.6rem;
    background: #4fdd8f;
    color: white;
    border: 0;
    border-radius: .8rem;
    cursor: pointer;
    font: 700 1.6rem Archivo;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: background 0.2s;
    margin-top: 3.2rem;

}

#search button:hover {
    background-color: #2bb469
}

#estilo .estilo button {
    width: 100%;
    height: 5.6rem;
    background: #4fdd8f;
    color: white;
    border: 0;
    border-radius: .8rem;
    cursor: pointer;
    font: 700 1.6rem Archivo;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;

}



#page-search main {
    margin: 3.2rem auto;
    width: 90%;
    color: grey
}

#page-search article {
    background-color: white;
    border: 1px solid rgb(245, 245, 245);
    border-radius: 0.9rem;
    margin-top: 2.5rem;

}

.barber-item header {
    padding: 3.4rem 2rem;
    display: flex;
    align-items: center
}

.barber-item img {
    width: 12rem;
    height: 12rem;
    border-radius: 50%
}

.barber-item header div {
    margin-left: 2.4rem;
}

.barber-item header div strong {
    font: 700 2.6rem Archivo;
    display: block;
    /* strong abaixo */
    color: #2cc26f
}

.barber-item header div span {
    font-size: 1.8rem;
    display: block;
    margin-top: .4rem;
}

.barber-item > p {
    padding: 0 2rem;
    font-size: 1.6rem;
    line-height: 2.8rem;
}

.barber-item footer {
    padding: 3.2rem 2rem;
    background-color: #f3f3f3;
    border-top: 1px solid #e6e6e6;
    margin-top: 3.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.barber-item footer p {
    font-size: 1.8rem;
    line-height: 2.4rem;
    color: grey
}

.barber-item footer p strong {
    font-size: 2rem;
    color: #2cc26f;
    display: block
}



.barber-item footer button {
    width: 24rem;
    height: 7rem;
	background: #2cc26f;
	color: white;
	border: 0;
	border-radius: .8rem;
	cursor: pointer;
    font: 700 1.6rem Archivo;
    

	display: flex;
	align-items: center;
	justify-content: space-evenly;

	text-decoration: none;

	transition: background 0.2s;
	margin-left: 1.6rem;
}

.barber-item footer button:hover  {
	background: #2bb469
}

.barber-item footer button img {
    width: 3rem;
    
}



@media (min-width: 700px) {
    #page-search #container {
        max-width: 100vw;
    }

    .page-header {
        height: 200px;
    }

    .page-header .top-bar-container {
        max-width: 1100px;
    }

    .page-header .header-content {
        max-width: 740px;
        margin: 0 auto;

        flex: 1 1;
        padding-bottom: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        margin: 0 auto;
    }

    .page-header .header-content strong {
        max-width: 350px;
    }

    .barber-item header,
    .barber-item footer {
        padding: 32px;
    }

    #search {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 16px;
        position: absolute;
        bottom: -28px;
    }

    #page-search main {
        padding: 32px 0;
        max-width: 740px;
        margin: 0 auto;

    }

    #barber-item > p {
        font: Archivo;
        padding: 0 32px;
    }

    #barber-item footer p strong {
        display: initial;
        margin-left: 16px;
    }

    .barber-item footer button {
        width: 220px;
        font-size: 12px;
        justify-content: center;

    }

    .barber-item  footer button img {
        margin-right: 12px;
    }
}